.skills-section {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.sphere-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 50%;
  position: relative;
  animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

canvas {
  background-color: transparent;
}

.skills-section h2{
    font-size: 4rem;
    color: #F2F3D9;
    padding-bottom: 80px;
    font-weight: 200;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

img {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 4px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.2);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  flex-wrap: wrap; /* responsive fallback */
}


.sphere-container,
.skillBox {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillBox {
  flex: 1;
  max-width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;

}

.skillRow {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
   /* animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%; */
}

.skillItem {
  flex: 1;
  height: 70px;
  box-shadow:0 0 10px #C16E70, 0 0 20px #C16E70, 0 0 30px #C16E70;
  color: #F2F3D9;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 100;
}

.skillRow .skillItem {
  max-width: calc(100% / 2);
}

